.contato {
    background-color: var(--branco);
    padding-top: 1.5em;
    padding-bottom: 1em;

}


.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    padding: 0 0 0.8em 1em;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 0 1.5em 0.8em 1em;
    line-height: 1.4;

}

.contato__email {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text border-box;
    border: solid 1px var(--azul);
    border-radius: 24px;
    background-color: transparent;
    padding: 1em 1.8em;
    margin-left: 1em;
    width: 80%;

}

.contato__email::placeholder {
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
    padding-left: 2.5em;
    background-position: 0.2em;
    font-family: 'Poppins';
}

hr {
    margin: 0;
}

.rodape {
    background-color: #F9F9F9;
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contato__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .contato__email {
        width: 30%;

    }

    .contato__titulo {
        font-size: 24px;

    }

    .contato__texto {
        font-size: 16px;
        font-weight: 300;
        padding-left: 0.5em;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        padding-top: 3em;
    }

    .lista-rodape {
        display: block;

    }

    .lista-rodape__titulo {
        color: #858585;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        color: #474646;
        font-size: 14px;
        padding: 0.8em 0 0.5em 0;
    }

    .lista-rodape__item img {
        padding-right: 1em;
    }

    .lista-rodape__link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .rodape__texto {
        font-size: 24px;
    }

}