.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url(/img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburger {
    background-image: url(/img/Menu\ Aberto.svg);

}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;

}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu {
    width: 60vw;

}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em 3em 1em 1.5em;
    margin-left: 0 1em 0 1em;

}

.lista-menu__titulo {
    color: var(--laranja);
    font-size: 1em;
    font-weight: 700;
}

.lista-menu__item a {
    text-decoration: none;
    font-weight: 400;

}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.cabecalho__opcoes {
    display: none;
}

.container__texto {
    display: none;
}



@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;

    }

    .container__titulo {
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .cabecalho__opcoes {
        display: flex;
    }


    .opcoes__item {
        padding: 0 1.8em;
    }

    .opcoes__item a {
        text-decoration: none;
        color: black;
    }

    .coracao {
        display: none;
    }

    .cabecalho__menu-hamburger {
        display: none;
    }

    .container__imagem {
        padding-left: 5em;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .container__imagem {
        margin-right: 1em;
        padding-left: 0.5em;
    }

    .container__texto {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: white;
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        color: white;
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: white;
    }
}



@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 2em;
    }


    .container__texto {
        display: block;
        color: black;

    }

    .container__item {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .cabecalho__opcoes {
        margin-right: auto;
    }

}