.topicos {
    background-color: white;
    color: var(--branco);
    text-align: center;
    padding-top: 1em;
}

.topicos__box {
    background: var(--azul-degrade);
    padding-top: 1.2em;

}

.topicos__titulo {
    font-weight: 200;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    margin-top: 1em;
}

.lista__item {
    text-decoration: none;
    color: var(--branco);
    text-align: center;

}

.topicos__item {
    background-color: var(--laranja);
    margin: 0.5em;
    padding: 1.5em;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .lista__item {
        font-size: 20px;
        font-weight: 400;
    }

    .topicos__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 1em;
        /* width: 80%; */
        margin: 1em 5em 0em 5em;

    }

    .topicos__item {
        padding: 2em;
        margin: 1em;
    }

}

@media screen and (min-width: 1728px) {
    .topicos__box {
        padding: 3em 20vw;
    }

    .contato__descricao {
        margin: 2em 0;
    }

}